 .sectiontwo{
  margin-bottom: 20px;
     .second{
    background-color:#111;
    padding: 20px;
   
    .para{
      text-align: center;
      .log{
        color: #fff;
        font-size: 20px;
        font-weight: 400;

      }
    }
  }

 }