section.develop {
    div.inner_develop {
        padding: 30px 0;

        h3.aritcla_dev {
            font-size: 40px;
            font-weight: 700;
            color: black;
            margin-bottom: 15px;
            font-family: "Suisse Works", Georgia, Times, "Times New Roman", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        }

        div.card_area {
            padding: 15px;
            border: 1px solid grey;
            border-radius: 10px;
            overflow: hidden;

            &:hover {
                box-shadow: 1px 1px 5px rgba(81, 81, 81, 0.4);
                border-color: transparent;
                cursor: pointer;
            }

            // p.top_head {
            //     // display: block;
            //     color: #6a6f73;
            //     font-size: 16px;
            //     font-weight: 700;
            //     margin-bottom: 8px;
            // }

            h3.heading {
                color: #1c1d1f;
                font-weight: 700;
                font-size: 22px;
                min-height: 100px;
                margin-bottom: 20px;
                font-family: "Udemy Sans", "SF Pro Text", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
            }

            div.lower {
                display: flex;
                align-items: center;

                div.left {
                    width: 60px;

                    div.person {
                        height: 50px;
                        width: 50px;
                        border-radius: 50%;
                        overflow: hidden;
                        border: transparent;
                    }
                }

                div.right {
                    width: calc(100% - 60px);

                    div.contant {
                        p {
                            font-size: 16px;
                            color: #6a6f73;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }
}