.bannef_section{
    
    .banner{
         background-color: #f2f2f2;
            padding: 20px 0;
            text-align: center;

            .banner_text {
                font-size: 24px;
                font-weight: 600;
                color: #111;
            }
    }
}


.cms_section {
    
    .inner_parent {
       box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

        .detail_area {
            .udemy {
                padding: 0 0 20px 0;
                font-size: 28px;
                font-weight: 600;
                color: #111;
            }

            .para {
                padding: 0 0 10px 0;
                font-size: 26px;
                font-weight: 500;
                color: #111;
            }

            .please {
                padding: 0 0 10px 0;
                font-size: 24px;
                font-weight: 500;
                color: #111;
            }

            .tf_you {
                padding: 0 0 10px 0;
                font-size: 22px;
                font-weight: 500;
                color: #111;
            }

            .mission {
                padding: 0 0 10px 0;
                font-size: 20px;
                font-weight: 500;
                color: #111;
            }

            .website {
                padding: 0 0 10px 0;
                font-size: 18px;
                font-weight: 500;
                color: #111;
            }

            p.cause {
                padding: 0 0 15px 0;
                font-size: 16px;
                font-weight: 400;
                color: #111;
            }

            ul.unlist {
                padding: 0 0 15px 0;
                li {
                    font-size: 16px;
                    font-weight: 400;
                    color: #111;
                    
                }
            }


            ol.list {
               

                li {

                    font-size: 16px;
                    font-weight: 600;
                    color: #111;
                }
                p.baker{
                 padding: 0 0 15px 0;
                 font-size: 16px;
                 font-weight: 400;
                 color: #111;
             
                }
            }
        }
    }
}



