.plans {
  margin-bottom: 70px;
  .header {
    margin-bottom: 20px;
    h3 {
      font-size: 32px;
    }
    p {
      font-size: 18px;
    }
  }
  .card {
    margin-bottom: 20px;
    height: 600px;
    .top {
      background-color: rgb(246, 247, 249);
      padding: 20px;
      h3 {
        font-size: 22px;
      }
      p {
        font-size: 12px;
      }
      .icon_area {
        margin-top: 10px;
        display: flex;
        align-items: center;
        gap: 10px;

        p {
          font-size: 14px;
          margin: 0;
        }

        a {
          height: 20px;
          width: 20px;
        }
      }
    }
    .bottom {
      padding: 20px;
      h3 {
        font-size: 18px;
        font-weight: 800;
      }

      p {
        font-size: 14px;
        font-weight: 400;
        // margin-bottom: 20px;
      }
      .subs_area {
        // margin-top: 20px;
        margin: 20px 0;
        a {
          padding: 10px 35px;
          text-decoration: none;
          border-radius: 12px;
          color: whitesmoke;
          background-color: blueviolet;
        }
      }

      ul {
        li {
          display: flex;
          gap: 10px;
          a {
            height: 40px;
            width: 40px;
          }
          h3 {
            font-size: 16px;
            font-weight: 400;
          }
        }
      }
    }
  }
}

/* 1680 desktop */
@media (min-width: 1680px) and (max-width: 1919px) {
}

/* 1600 desktop */
@media (min-width: 1600px) and (max-width: 1679px) {
}

/* Above 1400 and Below 1599 Desktop*/
@media (min-width: 1400px) and (max-width: 1599px) {
}

/* 1300 desktop only */
@media (min-width: 1300px) and (max-width: 1399px) {
}

/* 1200 desktop only */
@media (min-width: 1200px) and (max-width: 1299px) {
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .plans {
    margin-bottom: 50px;
  }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
  .plans {
    margin-bottom: 40px;
  }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
  .plans {
    margin-bottom: 30px;
    .header {
      h3 {
        font-size: 28px;
      }
      p {
        font-size: 16px;
      }
    }
  }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
  .plans {
    margin-bottom: 25px;
    .header {
      h3 {
        font-size: 22px;
      }
      p {
        font-size: 14px;
      }
    }
  }
}

/* Smaller phones */
@media (max-width: 360px) {
  .plans {
    margin-bottom: 25px;
    .header {
      h3 {
        font-size: 22px;
      }
      p {
        font-size: 14px;
      }
    }
  }
}

/* Smaller phones */
@media (max-width: 320px) {
  .plans {
    margin-bottom: 25px;
    .header {
      h3 {
        font-size: 22px;
      }
      p {
        font-size: 14px;
      }
    }
  }
}
